/*------------------------TAG SELECTORS-----------------------*/

body{
    margin: 0px;
    text-align: center;
}


h1 {
    margin-block-start: 0px;
    padding-top: 200px;
}

/*--------------------------CLASS SELECTORS----------------*/


.top-container{
    background-color: #e0ebe8;
}

.top-cloud{
    position: absolute;
    top: 50px;
    right: 300px;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.mountain{
    padding-top: 100px;
}