body{
    margin: 0px;
}

div {
    background-color: #EAF9F5;
}

h1 {
    margin-block-start: 0px;
}

.middle-container{
    background-color: blue;
    height: 200px;
    width: 200px;
    
}


.bottom-container{
    background-color: black;
    height: 200px;
    width: 200px;

}