<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Random</title>
  </head>
  <body>
    <h1>Your Random number is: <%= rand %></h1>

    <% if(rand % 2 === 0){ %>
    <h2>That number is even!</h2>
    <% } else { %>
    <h2>That number is odd!!</h2>
    <% } %> 

    <h3>That number is : <%= rand % 2 === 0 ? 'EVEN' : 'ODD' %> </h3>


  </body>
</html>
